salesforce_projet_4/force-app/main/default/flows/after_update_opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>add_product</name>
        <label>add product</label>
        <locationX>301</locationX>
        <locationY>672</locationY>
        <assignmentItems>
            <assignToReference>products</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>producttoupdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_product_opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>product_to_update</name>
        <label>product to update</label>
        <locationX>337</locationX>
        <locationY>381</locationY>
        <assignmentItems>
            <assignToReference>producttoupdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_product_opportunity.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>producttoupdate.QuantityInStock__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newquantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_product</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>newquantity</name>
        <dataType>Number</dataType>
        <expression>{!loop_product_opportunity.Product2.QuantityInStock__c} - {!loop_product_opportunity.Quantity}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>after update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>after update opportunity</label>
    <loops>
        <name>loop_product_opportunity</name>
        <label>loop product opportunity</label>
        <locationX>689</locationX>
        <locationY>609</locationY>
        <collectionReference>getOpportunityProduct</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>product_to_update</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_stock_quantity_product</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>event</name>
        <label>event</label>
        <locationX>807</locationX>
        <locationY>756</locationY>
        <inputAssignments>
            <field>Opportunity_Id_c__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityProductUpdate_e__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getOpportunityProduct</name>
        <label>getOpportunityProduct</label>
        <locationX>670</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_product_opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_stock_quantity_product</name>
        <label>update stock quantity product</label>
        <locationX>541</locationX>
        <locationY>740</locationY>
        <connector>
            <targetReference>event</targetReference>
        </connector>
        <inputReference>products</inputReference>
    </recordUpdates>
    <start>
        <locationX>543</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>getOpportunityProduct</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>products</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>producttoupdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
</Flow>